body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: white;
  
  background:
   url(../img/background-mask.svg) no-repeat center 89px,
   url("../img/background-photo.jpg") no-repeat center top;
   
}

.inner-page {
  color: #000000;

  background-color: white;
  background-image: none;
  line-height: 21px;
  }

  a {
  text-decoration: none;
  color: #000000;
}

.main-menu {
  font-weight:700;
  color: #000000;

  background-color: white;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;

}

.site-navigation a:active {
  color: #b2b2b2;
}

.features, 
.find-hotels {
  text-align: center;
}

.features h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.find-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotels-search-button {
  font: inherit;
 
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;

  background-color: #766357;
  border: none;
}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color:#604e43;
}

.hotels-search-button:active {
  color: #928a85;
  background-color: #503e33;
}

.filter {
  background-color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

 .filter input {
  font: inherit;
  
  background-color: #f2f2f2;
  border: none;
}

 .filter input:hover {
  
  background-color: #ebebeb;
}

 .filter input:focus {
  
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.plusminus {
  font: inherit;
  font-size: 24px;
  font-weight: 700;

  text-align: center;
  color: #a9a9a9;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none; 
  }

.plusminus:hover,
.plusminus:focus {
  color:#ffffff;
}

.plusminus:active {
  color: #81b3d2;
}

.find {
  font: inherit;
  font-size: 21px;
  line-height: auto;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none; 
  }

.find:hover,
.find:focus {
  color:#ffffff;
  background-color:#669ec0;
}

.find:active {
  color:#88b6d1;
  background-color:#5496bd;
}

.hotels-list {
  list-style: none;
}

.hotel-card h3 {
  background-color: white;
  font-size: 21px;
  color: #000000;
  font-weight: 700;
  }

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;

}

.hotel-title:active {
  color: #b2b2b2;
}

.button-info,
.button-book {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

  background-color: #88b6d1;
}

.button-book {
  background-color: #766357;
}

.button-info:hover,
.button-info:focus {
  background-color:#669ec0;
}

.button-info:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-book:hover,
.button-book:focus {
  background-color:#604e43;
}

.button-book:active {
  color: #857871;
  background-color: #503e33;
}

.hotel-raiting {
  background-color: #f2f2f2;
}

.page-footer {
  color: #000000;
  text-align: center;
  background-color: rgba(253 253 253 0.9);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}
.social-nets {
  list-style: none;
}
