body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: white;
  
  background:
   url("../img/background-mask-rect.png") no-repeat center top 564px,
   url("../img/background-mask.svg") no-repeat center top 500px,
   url("../img/background-photo.jpg") no-repeat center top;
  }

.inner-page {
  color: #000000;

  background-color: white;
  background-image: none;
  line-height: 21px;
  }

  a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation,
.main-header-logo,
.main-menu,
.page-header {
  margin:0px;
  padding:0px;

 }

.main-menu {
  font-weight:700;
  color: #000000;

  width:1200px;
  margin:auto;
  display:flex;
  justify-content: space-between;
  background-color: white;
}

.navigation {
  display:flex;
  min-height: 55px;
  list-style: none;
  flex-wrap: wrap;
   
}

 .main-header-logo::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 71px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.navigation-link {
  padding-left:72px;
  padding-top: 15px;
  min-width:169px; 
  
}

.main-header-logo {
  width:140px;
  margin:0 47px;
}

.main-header-logo a {
display:block;
}

.navigation-link:nth-child(n+4) {
  padding-left:0px;
  padding-right:73px;
  padding-top: 15px;
  text-align:right;
}

.navigation-link a {
  color: #000000;
}

.navigation-link a:hover,
.navigation-link a:focus{
  color: #81b3d2;

}

.navigation-link a:active {
  color: #b2b2b2;
}

.welocme-image { 
  padding:0;
  width:459px;
  margin:auto;
  margin-top:77px;
  margin-bottom: 130px
  
}

.features, 
.find-hotels {
  text-align: center;
}

.find-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom:23px;

}

.find-hotels p {
  margin:0px;
  padding:0px;
  margin-bottom:45px;
}

.features {
  padding:0;
  margin:auto;
  background-color:white;
  }

.features h2 {
margin-bottom:27px;
}

.features p {
margin-bottom:1199px;
}
.features h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotels-search-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px
 
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;

  background-color: #766357;
  border: none;

  width:567px;
  height:86px;
  
}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color:#604e43;
}

.hotels-search-button:active {
  color: #928a85;
  background-color: #503e33;
}

.hotel-search-form {
margin:0px;

}

.filter {
  background-color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  display:flex;
  width:567px;
  flex-wrap:wrap;
  margin:auto;

  box-shadow:  0 5px 10px 5px #dfdfdf;

  display: none;
  position:absolute;
  left:400px;

}

@keyframes swipe {
  0% {
    transform: translateY(-230px);
  }

  100% {
    transform: translateY(0px);
  }
}

.modal-show {
  display: flex;
  animation: swipe 0.6s;
  animation-fill-mode: forwards;
}

p.staydates {
  display:flex;
  width:460px;
  margin:0;
  margin-left:55px;
  margin-top:55px;
  margin-bottom:29px;
  justify-content: space-between;
}

p.finish {
  margin-top:0px;
}

p.staydates:last-of-kind {
  margin-top:0px;
 
}

.staydates label {
  padding-top:6px;
}

.staydates input {
  box-sizing: border-box;
  width: 306px;
  height: 38px;
  padding:0px;
  padding-left: 14px;
  text-transform: uppercase;
  margin-left:auto;
}

.staydates input::-webkit-input-placeholder {color:black;}
.staydates input::-moz-placeholder          {color:black;}
.staydates input:-ms-input-placeholder      {color:black;}


.calendar-button {
  border: none;
  width:40px;
  height:38px;
  margin-left:0px;
  background: #f2f2f2 /*url("../img/calendar.svg") no-repeat center center;*/
}

.calendar-button path,
.calendar-button rect{
  fill: #cacaca;
}

.calendar-button:hover path,
.calendar-button:focus path,
.calendar-button:hover rect,
.calendar-button:focus rect {
  fill: #000000;
}

.calendar-button:active path,
.calendar-button:active rect {
  fill: #81b3d2;
}

p.people-number {
  display:flex;
  width:225px;
  margin:0px;
  margin-left:55px;
  margin-bottom:54px;
}

.people-number input {
  box-sizing: border-box;
  width: 40px;
  height: 38px;
  padding:0px;
  padding-left: 14px;
}


.people-number label {
  padding-top:6px;
  margin-right:40px;
}

.form-end label {
  margin-right:24px;
}

 .filter input {
  font: inherit;
  
  background-color: #f2f2f2;
  border: none;
}

.people-number input::-webkit-input-placeholder {color:black;}
.people-number input::-moz-placeholder          {color:black;}
.people-number input:-ms-input-placeholder      {color:black;}

 .filter input:hover {
  
  background-color: #ebebeb;
}

 .filter input:focus {
  border:none;
  outline:none;
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.plusminus {
  font: inherit;
  font-size: 24px;
  font-weight: 700;

  text-align: center;
  color: #a9a9a9;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none; 
  width:40px;
  height:38px;
  }



.plusminus:hover,
.plusminus:focus {
  color:#ffffff;
}

.plusminus:active {
  color: #81b3d2;
}

.find {
  font: inherit;
  font-size: 21px;
  line-height: auto;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none; 
  width:458px;
  height:58px;
  margin:auto;
  margin-bottom: 55px;
  }

.find:hover,
.find:focus {
  color:#ffffff;
  background-color:#669ec0;
}

.find:active {
  color:#88b6d1;
  background-color:#5496bd;
}
/*----------------------Страница каталога----------------*/
.container {
width:1200px;
margin:auto;
}

.container h1{
margin:0px;
}

.hotels-list {
  list-style: none;
  min-height:120px;
  display:block;
  margin:0px;
  padding:0px;
}

.hotel-card {
  width:1200px;
  border-bottom:1px solid grey;
  display:flex;
  justify-content: space-between
}

.hotel-card h3{
  margin:0px;
}

.hotel-photo {
  margin-left:73px;
  margin-top:31px;
  margin-right:31px;
}

.hotel-photo a{
 width: 135px;
  height: 90px;
}

.hotel-title {
  background-color: white;
  font-size: 21px;
  color: #000000;
  font-weight: 700;
  display:block;
  margin-top:26px;
  margin-bottom:8px;
  }

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;

}

.hotel-title:active {
  color: #b2b2b2;
}


.hotel-main {
  margin-right:auto;
}

.positioner {
  display: flex;
  width:260px;
  flex-wrap: wrap
}

.hotel-type {
  min-width: 112px;

}

.hotel-type,
.hotel-price {
  margin:0px;
  margin-bottom:12px;
  background-color: white;
}

.hotel-price {
padding-left:5px;
background-color: white;
}

.button-info,
.button-book {
  display: inline-block;
  padding:6px 17px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  vertical-align: middle;
  margin:0px;

  background-color: #88b6d1;
}

.button-book {
  background-color: #766357;
  margin-left:auto;
}

.button-info:hover,
.button-info:focus {
  background-color:#669ec0;
}

.button-info:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-book:hover,
.button-book:focus {
  background-color:#604e43;
}

.button-book:active {
  color: #857871;
  background-color: #503e33;
}

.hotel-raiting {
  color: #666666;
  background-color: #f2f2f2;
}

.hotel-stars {
  margin:0px;
  margin-top:31px;
  margin-bottom:47px;
  text-align:right;
}

.hotel-raiting {
  margin:0px;
  padding:4px 15px;
}


.page-footer {
  color: #000000;
  text-align: center;
  min-height:120px;
  width:1200px;
  margin:auto;
  display:flex;
  margin-top:134px;
  background-color: rgba(253 253 253 0.9);
}

.page-footer {
  margin-top:0px;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  margin:0;
  margin-top:47px;
 
  padding-left:132px;
}

.social-nets {
  list-style: none;
  padding: 0px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:150px;
  margin-top:37px;
  margin-left:255px;
}
.social-nets-button {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;

  background-color: #81b3d2;
}

.social-nets-button:active {
  background-color: #5496bd;
}

.social-nets-button:hover {
  background-color: #669ec0;
}

.social-nets-button:active path {
  fill: #88b6d1;
}

.producer-logo {
  display:flex;
  padding-right:100px;
  margin:0px;
  display:flex;
  align-items: center;
  margin-left:auto;
}

.producer-logo svg {
  display:block;
  padding-left:7px;
  width: 115px;
  height: 41px;
}

.producer-logo path{
  fill:black;
}

.producer-logo svg:hover path,
.producer-logo svg:focus path {
  fill:#81b3d2;
}

  .producer-logo svg:active path {
fill:#bdbbbc;
}


/* ------сеточные стили--------*/

/* body {
background-image: url("../../sedona-index.jpg");
background-position: top center;
background-repeat: no-repeat;

}
.main-header {
  background-color: rgba(0, 120, 0, 0.7);
}


.hotel-main,
.hotel-photo,
.raiting {outline: 1px solid black;}

.welocme-image {
outline: 1px solid black;
}

.page-footer {
  outline: 1px solid red;
}
.hashtag,
.social-nets,
.producer-logo {
  outline: 1px solid blue;
}

.catalog: {
  outline: 1px solid red;
}
.holels-list: {
  outline: 5px solid black;
}
.hotel-card {
  outline: 1px solid blue;
}
.navigation-link {
  outline: 1px solid blue;
}

.staydates {
  outline: 1px solid blue;
}

.people-number {
  outline: 1px solid blue;
}